<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Handler para que IIS ejecute Node a través de iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="File" />
    </handlers>

    <!-- Reescritura de URL -->
    <rewrite>
      <rules>
        <!-- Redirige todo tráfico HTTP a HTTPS -->
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Envía todas las peticiones a server.js (tu app Node) -->
        <rule name="NodeRouting" enabled="true" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Permite algunos caracteres especiales y previene errores con rutas -->
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <!-- Deshabilita el envío de información sensible de IIS -->
    <httpErrors errorMode="DetailedLocalOnly" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
</configuration>
